@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
.Poker{
    border: none;
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 100px;
    color: #F1F0EA;
    border-radius: 30px;
    
    opacity: 0.8;
    align-content:bottom ;
    
}
.Poker:hover{
    opacity: 1;
}
.Slots{
    border: none;
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 100px;
    color: #F1F0EA;
    border-radius: 30px;
    
    opacity: 0.8;
}
.Slots:hover{
    opacity: 1;
}
.Roulette{
    border: none;
    background-color: white;
    padding-left: 0cm;
    padding-right: 0cm;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 100px;
    color: #F1F0EA;
    border-radius: 30px;
    opacity: 0.8;
  
}

.Roulette:hover{
    opacity: 1;
}
img {
        border-radius: 30px;
        
}

body {
    height: 100vh;
}
 */